<div class="alert alert-info">
    <h2>Torneos</h2>
</div>
<div ng-show="error" class="alert alert-danger">{{error}}</div>
<form name="form" role="form">
    <div class="form-group" style="margin-top: 5px;">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Torneo</th>
                    <th style="width: 65px;">#Part.</th>
                    <th style="width: 65px;">#Cont.</th>
                    <th style="width: 102px;">Fecha Inicio</th>
                    <th style="width: 102px;">Fecha Fin</th>
                    <th style="width: 120px;">Estado</th>
                </tr>
            </thead>
            <tbody>
                <tr class="animate-repeat" ng-repeat="torneo in torneos">
                    <td>
                        <a ng-if="torneo.idEstado == 2" href="{{torneo.enlace}}">{{torneo.nombre}}</a>
                        <a ng-if="torneo.idEstado == 3" href="#/ReporteTorneo?idTorneo={{torneo.id}}">{{torneo.nombre}}</a>
                        <span ng-if="torneo.idEstado == 1 || torneo.idEstado == 4">{{torneo.nombre}}</span>
                    </td>
                    <td>{{torneo.cantidadParticipantes}}</td>
                    <td>{{torneo.cantidadContendores}}</td>
                    <td>{{dateFormat(torneo.fechaInicio)}}</td>
                    <td>{{dateFormat(torneo.fechaFin)}}</td>
                    <td><span class="label label-{{getEstadoCss(torneo.idEstado)}}" style="font-size: inherit; display: flex;">{{getEstado(torneo.idEstado)}}</span></td>
                </tr>
                <tr class="animate-repeat" ng-if="torneos.length == 0">
                    <td colspan="8">Sin torneos...</td>
                </tr>
            </tbody>
        </table>
    </div>
</form>