<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <customBinding>
                <binding name="CustomBinding_IContendorService">
                    <binaryMessageEncoding />
                    <httpTransport />
                </binding>
                <binding name="CustomBinding_IFavoritoService">
                    <binaryMessageEncoding />
                    <httpTransport />
                </binding>
                <binding name="CustomBinding_IParticipanteService">
                    <binaryMessageEncoding />
                    <httpTransport />
                </binding>
                <binding name="CustomBinding_IReporteService">
                    <binaryMessageEncoding />
                    <httpTransport />
                </binding>
                <binding name="CustomBinding_ITorneoService">
                    <binaryMessageEncoding />
                    <httpTransport />
                </binding>
                <binding name="CustomBinding_IUsuarioService">
                    <binaryMessageEncoding />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/WhoIsBetter_WSSOAP/ContendorService.svc"
                binding="customBinding" bindingConfiguration="CustomBinding_IContendorService"
                contract="WSContendor.IContendorService" name="CustomBinding_IContendorService" />
            <endpoint address="http://localhost/WhoIsBetter_WSSOAP/FavoritoService.svc"
                binding="customBinding" bindingConfiguration="CustomBinding_IFavoritoService"
                contract="WSFavorito.IFavoritoService" name="CustomBinding_IFavoritoService" />
            <endpoint address="http://localhost/WhoIsBetter_WSSOAP/ParticipanteService.svc"
                binding="customBinding" bindingConfiguration="CustomBinding_IParticipanteService"
                contract="WSParticipante.IParticipanteService" name="CustomBinding_IParticipanteService" />
            <endpoint address="http://localhost/WhoIsBetter_WSSOAP/ReporteService.svc"
                binding="customBinding" bindingConfiguration="CustomBinding_IReporteService"
                contract="WSReporte.IReporteService" name="CustomBinding_IReporteService" />
            <endpoint address="http://localhost/WhoIsBetter_WSSOAP/TorneoService.svc"
                binding="customBinding" bindingConfiguration="CustomBinding_ITorneoService"
                contract="WSTorneo.ITorneoService" name="CustomBinding_ITorneoService" />
            <endpoint address="http://localhost/WhoIsBetter_WSSOAP/UsuarioService.svc"
                binding="customBinding" bindingConfiguration="CustomBinding_IUsuarioService"
                contract="WSUsuario.IUsuarioService" name="CustomBinding_IUsuarioService" />
        </client>
    </system.serviceModel>
</configuration>