@import url(/c/reset.css);

body { background: #fff; font: normal 10px sans-serif; }


/*----------------------------------------------------- nav */

ul#alsoview { text-align: center; background: #efefef; font-size: 11px; padding: 3px 0; }
ul#alsoview li { display: inline; padding: 3px 10px; }
ul#alsoview li#current a { font-weight: bold; color: #c00; }


/*----------------------------------------------------- header */

div#newbracket { text-align: center; background: #cc0000; color: #fff; font-size: 18px; padding: 0.25em 0; }
div#newbracket a { color: #fff; }
div#brackethelp { text-align: center; background: #35b63b; color: #fff; font-size: 11px; padding: 0.25em 0; }
div#brackethead h1 { text-indent: -9999px; margin: 30px auto -60px; } /* BGs in indiv playoff sheets */
div#brackethead p { width: 250px; margin: 0 auto; font-size: 11px; text-align: center; }


/*----------------------------------------------------- BG, logo */

img.bracketBG { display: none; } /* img for print */
img.oldbracket { margin: 20px auto; display: block; }

div#playoffbracket { width: 700px; height: 401px; position: relative; margin: 10px auto; }


/*----------------------------------------------------- structure */

ol li { width: 50px; height: 50px; position: absolute; }
ol li a { display: block; height: 50px; text-indent: -9999px; }

ol li ul.roundtwo li { position: absolute; } /* round two */
ol li ul.roundtwo li ul.conffinals li { position: absolute; } /* conf finals */
ol li ul.roundtwo li ul.conffinals li ul.finals li { position: absolute; } /* finals */
ol li ul.roundtwo li ul.conffinals li ul.finals li ul.champion li { position: absolute; } /* champ */

/*span { position: absolute; top: 20px; right: -15px; font-weight: bold; color: #999; }  seed */

ol p { position: absolute; top: 19px; left: 0px; width: 9px; height: 13px; font-size: 9px; text-align: center; } /* wins */
ol .div1 p, ol .div2 p { top: 17px; } /* adjusting wins heights */

p.win1, ol#west p.rec, ol#afc p.rec, p.next1 { left: 55px; }
p.win2, p.next2 { left: 70px; }
p.win3, p.next3 { left: 85px; }
p.win4, p.next4 { left: 100px; }

#east p.win1, #east p.next1 { left: -10px; }
#east p.win2, #east p.next2 { left: -25px; }
#east p.win3, ol#east p.rec, ol#nfc p.rec, #east p.next3 { left: -40px; }
#east p.win4, #east p.next4 { left: -55px; }

p.rec { width: 40px; text-align: center; top: 15px; display: block; color: #999; } /* records set to ON */

p.game1 { background: url(img/nba_arr1.png) no-repeat; }
p.game2 { background: url(img/nba_arr2.png) no-repeat; }
p.game3 { background: url(img/nba_arr3.png) no-repeat; }
p.game4 { background: url(img/nba_arr4.png) no-repeat; }
p.game5 { background: url(img/nba_arr5.png) no-repeat; }
p.game6 { background: url(img/nba_arr6.png) no-repeat; }
p.game7 { background: url(img/nba_arr7.png) no-repeat; }
ol#west p.game1 { background: url(img/nba_warr1.png) no-repeat; }
ol#west p.game2 { background: url(img/nba_warr2.png) no-repeat; }
ol#west p.game3 { background: url(img/nba_warr3.png) no-repeat; }
ol#west p.game4 { background: url(img/nba_warr4.png) no-repeat; }
ol#west p.game5 { background: url(img/nba_warr5.png) no-repeat; }
ol#west p.game6 { background: url(img/nba_warr6.png) no-repeat; }
ol#west p.game7 { background: url(img/nba_warr7.png) no-repeat; }

p.tnt { background: url(img/nba_tnt.png) no-repeat center; width: 16px; height: 16px; }
p.nbatv { background: url(img/nba_nbatv.png) no-repeat center; width: 10px; height: 16px; }
p.abc { background: url(img/nba_abc.png) no-repeat center; width: 16px; height: 16px; }
p.espn { background: url(img/nba_espn.png) no-repeat center; width: 15px; height: 16px; }


/*----------------------------------------------------- other content (ads, news) */

div#advertisement { width: 728px; margin: 5px auto; }

div#times { text-align: center; font: normal 8px verdana, helvetica, sans-serif; }


/* ---------------------------------------------------- season graph */

h2 { font-size: 12px; font-weight: bold; text-align: center; width: 800px; margin: 10px auto 0; }
div#season { width: 792px; margin: 10px auto; padding: 3px; border: 1px solid #a6a6a6; }
div#seasonprogress { background: url(img/messageBG_goodjob.png) repeat-x; font: 12px bold verdana, sans-serif; color: #fff; text-align: center; padding: 3px 0; }


/*----------------------------------------------------- footer */

div#updates { width: 788px; padding: 5px; margin: 10px auto; line-height: 14px; }
div#updates h3 { margin: 0 0 3px; }

div#bracketfoot { border-top: 1px solid #000; background: #efefef; padding: 3px 5px; text-align: center; font-size: 12px; }

div#copyright { text-align: center; padding: 5px 0; }


/*----------------------------------------------------- other */

#tooltip { position: absolute; z-index: 3000; border: 1px solid #111; background-color: #eee; padding: 5px; opacity: 0.65; }
#tooltip h3, #tooltip div { margin: 0; }
/* body#playoffs2007 ol#east li, body#playoffs2007 ol#west li, body#playoffs2008 ol#east li, body#playoffs2008 ol#west li, body#playoffs2009 ol#east li, body#playoffs2009 ol#west li { text-indent: -9999px; } */
