<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="DB" connectionString="Data Source=(localdb)\ProjectsV12;Initial Catalog=WhoIsBetter;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2"/>
  </system.web>
  <system.serviceModel>
    <client>
      <endpoint address="http://localhost/WhoIsBetter_WSSOAP/TorneoService.svc"
        binding="customBinding" bindingConfiguration="CustomBinding_ITorneoService"
        contract="WSTorneo.ITorneoService" name="CustomBinding_ITorneoService" />
    </client>
    <bindings>
      <customBinding>
        <binding name="WhoIsBetter.WSSOAP.ServiceCustomBinding">
          <binaryMessageEncoding />
          <httpTransport />
        </binding>
        <binding name="CustomBinding_ITorneoService">
          <binaryMessageEncoding />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <services>
      <service name="WhoIsBetter.WSSOAP.ContendorService">
        <endpoint address="" binding="customBinding" bindingConfiguration="WhoIsBetter.WSSOAP.ServiceCustomBinding"
          contract="WhoIsBetter.WSSOAP.IContendorService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="WhoIsBetter.WSSOAP.FavoritoService">
        <endpoint address="" binding="customBinding" bindingConfiguration="WhoIsBetter.WSSOAP.ServiceCustomBinding"
          contract="WhoIsBetter.WSSOAP.IFavoritoService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="WhoIsBetter.WSSOAP.ParticipanteService">
        <endpoint address="" binding="customBinding" bindingConfiguration="WhoIsBetter.WSSOAP.ServiceCustomBinding"
          contract="WhoIsBetter.WSSOAP.IParticipanteService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="WhoIsBetter.WSSOAP.ReporteService">
        <endpoint address="" binding="customBinding" bindingConfiguration="WhoIsBetter.WSSOAP.ServiceCustomBinding"
          contract="WhoIsBetter.WSSOAP.IReporteService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="WhoIsBetter.WSSOAP.TorneoService">
        <endpoint address="" binding="customBinding" bindingConfiguration="WhoIsBetter.WSSOAP.ServiceCustomBinding"
          contract="WhoIsBetter.WSSOAP.ITorneoService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="WhoIsBetter.WSSOAP.UsuarioService">
        <endpoint address="" binding="customBinding" bindingConfiguration="WhoIsBetter.WSSOAP.ServiceCustomBinding"
          contract="WhoIsBetter.WSSOAP.IUsuarioService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
      multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
